interactions:
- request:
    body: null
    headers:
      Authorization:
      - token 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
    method: GET
    uri: https://api.github.com/repos/gh4144/rep80vwl1
  response:
    body:
      string: '{"id":1107186600,"node_id":"R_kgDOQf5TqA","name":"rep80vwl1","full_name":"gh4144/rep80vwl1","private":true,"owner":{"login":"gh4144","id":243440135,"node_id":"U_kgDODoKaBw","avatar_url":"https://avatars.githubusercontent.com/u/243440135?v=4","gravatar_id":"","url":"https://api.github.com/users/gh4144","html_url":"https://github.com/gh4144","followers_url":"https://api.github.com/users/gh4144/followers","following_url":"https://api.github.com/users/gh4144/following{/other_user}","gists_url":"https://api.github.com/users/gh4144/gists{/gist_id}","starred_url":"https://api.github.com/users/gh4144/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gh4144/subscriptions","organizations_url":"https://api.github.com/users/gh4144/orgs","repos_url":"https://api.github.com/users/gh4144/repos","events_url":"https://api.github.com/users/gh4144/events{/privacy}","received_events_url":"https://api.github.com/users/gh4144/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/gh4144/rep80vwl1","description":"simple
        repo allow_del_by_api=true ","fork":false,"url":"https://api.github.com/repos/gh4144/rep80vwl1","forks_url":"https://api.github.com/repos/gh4144/rep80vwl1/forks","keys_url":"https://api.github.com/repos/gh4144/rep80vwl1/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gh4144/rep80vwl1/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gh4144/rep80vwl1/teams","hooks_url":"https://api.github.com/repos/gh4144/rep80vwl1/hooks","issue_events_url":"https://api.github.com/repos/gh4144/rep80vwl1/issues/events{/number}","events_url":"https://api.github.com/repos/gh4144/rep80vwl1/events","assignees_url":"https://api.github.com/repos/gh4144/rep80vwl1/assignees{/user}","branches_url":"https://api.github.com/repos/gh4144/rep80vwl1/branches{/branch}","tags_url":"https://api.github.com/repos/gh4144/rep80vwl1/tags","blobs_url":"https://api.github.com/repos/gh4144/rep80vwl1/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gh4144/rep80vwl1/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gh4144/rep80vwl1/git/refs{/sha}","trees_url":"https://api.github.com/repos/gh4144/rep80vwl1/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gh4144/rep80vwl1/statuses/{sha}","languages_url":"https://api.github.com/repos/gh4144/rep80vwl1/languages","stargazers_url":"https://api.github.com/repos/gh4144/rep80vwl1/stargazers","contributors_url":"https://api.github.com/repos/gh4144/rep80vwl1/contributors","subscribers_url":"https://api.github.com/repos/gh4144/rep80vwl1/subscribers","subscription_url":"https://api.github.com/repos/gh4144/rep80vwl1/subscription","commits_url":"https://api.github.com/repos/gh4144/rep80vwl1/commits{/sha}","git_commits_url":"https://api.github.com/repos/gh4144/rep80vwl1/git/commits{/sha}","comments_url":"https://api.github.com/repos/gh4144/rep80vwl1/comments{/number}","issue_comment_url":"https://api.github.com/repos/gh4144/rep80vwl1/issues/comments{/number}","contents_url":"https://api.github.com/repos/gh4144/rep80vwl1/contents/{+path}","compare_url":"https://api.github.com/repos/gh4144/rep80vwl1/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gh4144/rep80vwl1/merges","archive_url":"https://api.github.com/repos/gh4144/rep80vwl1/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gh4144/rep80vwl1/downloads","issues_url":"https://api.github.com/repos/gh4144/rep80vwl1/issues{/number}","pulls_url":"https://api.github.com/repos/gh4144/rep80vwl1/pulls{/number}","milestones_url":"https://api.github.com/repos/gh4144/rep80vwl1/milestones{/number}","notifications_url":"https://api.github.com/repos/gh4144/rep80vwl1/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gh4144/rep80vwl1/labels{/name}","releases_url":"https://api.github.com/repos/gh4144/rep80vwl1/releases{/id}","deployments_url":"https://api.github.com/repos/gh4144/rep80vwl1/deployments","created_at":"2025-11-30T18:35:15Z","updated_at":"2025-11-30T18:35:16Z","pushed_at":"2025-11-30T18:35:16Z","git_url":"git://github.com/gh4144/rep80vwl1.git","ssh_url":"git@github.com:gh4144/rep80vwl1.git","clone_url":"https://github.com/gh4144/rep80vwl1.git","svn_url":"https://github.com/gh4144/rep80vwl1","homepage":"https://github.com/gh4144/rep80vwl1","size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","network_count":0,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b246136932ac326064220478fb907bd591fe661572505abe218955c3642ef54"
      Last-Modified:
      - Sun, 30 Nov 2025 18:35:16 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '3941'
      X-RateLimit-Reset:
      - '1764528931'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1059'
      x-accepted-github-permissions:
      - metadata=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
