interactions:
- request:
    body: null
    headers:
      Authorization:
      - token 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
      X-GitHub-Api-Version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/user/repos
  response:
    body:
      string: '[{"id":1095154434,"node_id":"R_kgDOQUa7Ag","name":"coron6","full_name":"gh4144/coron6","private":true,"owner":{"login":"gh4144","id":243440135,"node_id":"U_kgDODoKaBw","avatar_url":"https://avatars.githubusercontent.com/u/243440135?v=4","gravatar_id":"","url":"https://api.github.com/users/gh4144","html_url":"https://github.com/gh4144","followers_url":"https://api.github.com/users/gh4144/followers","following_url":"https://api.github.com/users/gh4144/following{/other_user}","gists_url":"https://api.github.com/users/gh4144/gists{/gist_id}","starred_url":"https://api.github.com/users/gh4144/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gh4144/subscriptions","organizations_url":"https://api.github.com/users/gh4144/orgs","repos_url":"https://api.github.com/users/gh4144/repos","events_url":"https://api.github.com/users/gh4144/events{/privacy}","received_events_url":"https://api.github.com/users/gh4144/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/gh4144/coron6","description":"simple
        repo allow_del_by_api=true ","fork":false,"url":"https://api.github.com/repos/gh4144/coron6","forks_url":"https://api.github.com/repos/gh4144/coron6/forks","keys_url":"https://api.github.com/repos/gh4144/coron6/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gh4144/coron6/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gh4144/coron6/teams","hooks_url":"https://api.github.com/repos/gh4144/coron6/hooks","issue_events_url":"https://api.github.com/repos/gh4144/coron6/issues/events{/number}","events_url":"https://api.github.com/repos/gh4144/coron6/events","assignees_url":"https://api.github.com/repos/gh4144/coron6/assignees{/user}","branches_url":"https://api.github.com/repos/gh4144/coron6/branches{/branch}","tags_url":"https://api.github.com/repos/gh4144/coron6/tags","blobs_url":"https://api.github.com/repos/gh4144/coron6/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gh4144/coron6/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gh4144/coron6/git/refs{/sha}","trees_url":"https://api.github.com/repos/gh4144/coron6/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gh4144/coron6/statuses/{sha}","languages_url":"https://api.github.com/repos/gh4144/coron6/languages","stargazers_url":"https://api.github.com/repos/gh4144/coron6/stargazers","contributors_url":"https://api.github.com/repos/gh4144/coron6/contributors","subscribers_url":"https://api.github.com/repos/gh4144/coron6/subscribers","subscription_url":"https://api.github.com/repos/gh4144/coron6/subscription","commits_url":"https://api.github.com/repos/gh4144/coron6/commits{/sha}","git_commits_url":"https://api.github.com/repos/gh4144/coron6/git/commits{/sha}","comments_url":"https://api.github.com/repos/gh4144/coron6/comments{/number}","issue_comment_url":"https://api.github.com/repos/gh4144/coron6/issues/comments{/number}","contents_url":"https://api.github.com/repos/gh4144/coron6/contents/{+path}","compare_url":"https://api.github.com/repos/gh4144/coron6/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gh4144/coron6/merges","archive_url":"https://api.github.com/repos/gh4144/coron6/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gh4144/coron6/downloads","issues_url":"https://api.github.com/repos/gh4144/coron6/issues{/number}","pulls_url":"https://api.github.com/repos/gh4144/coron6/pulls{/number}","milestones_url":"https://api.github.com/repos/gh4144/coron6/milestones{/number}","notifications_url":"https://api.github.com/repos/gh4144/coron6/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gh4144/coron6/labels{/name}","releases_url":"https://api.github.com/repos/gh4144/coron6/releases{/id}","deployments_url":"https://api.github.com/repos/gh4144/coron6/deployments","created_at":"2025-11-12T17:00:24Z","updated_at":"2025-11-12T17:00:24Z","pushed_at":"2025-11-12T17:00:24Z","git_url":"git://github.com/gh4144/coron6.git","ssh_url":"git@github.com:gh4144/coron6.git","clone_url":"https://github.com/gh4144/coron6.git","svn_url":"https://github.com/gh4144/coron6","homepage":"https://github.com/gh4144/coron6","size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true}},{"id":1094812658,"node_id":"R_kgDOQUGD8g","name":"example","full_name":"gh4144/example","private":true,"owner":{"login":"gh4144","id":243440135,"node_id":"U_kgDODoKaBw","avatar_url":"https://avatars.githubusercontent.com/u/243440135?v=4","gravatar_id":"","url":"https://api.github.com/users/gh4144","html_url":"https://github.com/gh4144","followers_url":"https://api.github.com/users/gh4144/followers","following_url":"https://api.github.com/users/gh4144/following{/other_user}","gists_url":"h[...]
