interactions:
- request:
    body: '{"name": "coron6", "description": "simple repo allow_del_by_api=true ",
      "homepage": "https://github.com/gh4144/coron6", "private": true, "is_template":
      false}'
    headers:
      Authorization:
      - token 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
      Content-Type:
      - application/x-www-form-urlencoded
      X-GitHub-Api-Version:
      - '2022-11-28'
    method: POST
    uri: https://api.github.com/user/repos
  response:
    body:
      string: '{"message":"Repository creation failed.","errors":[{"resource":"Repository","code":"custom","field":"name","message":"name
        already exists on this account"}],"documentation_url":"https://docs.github.com/rest/repos/repos#create-a-repository-for-the-authenticated-user","status":"422"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '3945'
      X-RateLimit-Reset:
      - '1764528931'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1055'
      x-accepted-github-permissions:
      - administration=write
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 422
      message: Unprocessable Entity
version: 1
