interactions:
- request:
    body: '{"name": "coron", "description": "simple repo allow_del_by_api=true ",
      "homepage": "https://github.com/gh4144/coron", "private": true, "is_template":
      false}'
    headers:
      Authorization:
      - token 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
      Content-Type:
      - application/x-www-form-urlencoded
      X-GitHub-Api-Version:
      - '2022-11-28'
    method: POST
    uri: https://api.github.com/user/repos
  response:
    body:
      string: '{"message":"Repository creation failed.","errors":[{"resource":"Repository","code":"custom","field":"name","message":"name
        already exists on this account"}],"documentation_url":"https://docs.github.com/rest/repos/repos#create-a-repository-for-the-authenticated-user","status":"422"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4989'
      X-RateLimit-Reset:
      - '1762970423'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '11'
      x-accepted-github-permissions:
      - administration=write
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 422
      message: Unprocessable Entity
[...]
- request:
    body: null
    headers:
      Authorization:
      - token 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
    method: GET
    uri: https://api.github.com/repos/gh4144/reppkcwbh
  response:
    body:
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/repos#get-a-repository","status":"404"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4987'
      X-RateLimit-Reset:
      - '1762970423'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '13'
      x-accepted-github-permissions:
      - metadata=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"name": "reppkcwbh", "description": "simple repo allow_del_by_api=true
      ", "homepage": "https://github.com/gh4144/reppkcwbh", "private": true, "is_template":
      false}'
    headers:
      Authorization:
      - token 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
      Content-Type:
      - application/x-www-form-urlencoded
      X-GitHub-Api-Version:
      - '2022-11-28'
    method: POST
    uri: https://api.github.com/user/repos
  response:
    body:
      string: '{"id":1095175419,"node_id":"R_kgDOQUcM-w","name":"reppkcwbh","full_name":"gh4144/reppkcwbh","private":true,"owner":{"login":"gh4144","id":243440135,"node_id":"U_kgDODoKaBw","avatar_url":"https://avatars.githubusercontent.com/u/243440135?v=4","gravatar_id":"","url":"https://api.github.com/users/gh4144","html_url":"https://github.com/gh4144","followers_url":"https://api.github.com/users/gh4144/followers","following_url":"https://api.github.com/users/gh4144/following{/other_user}","gists_url":"https://api.github.com/users/gh4144/gists{/gist_id}","starred_url":"https://api.github.com/users/gh4144/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gh4144/subscriptions","organizations_url":"https://api.github.com/users/gh4144/orgs","repos_url":"https://api.github.com/users/gh4144/repos","events_url":"https://api.github.com/users/gh4144/events{/privacy}","received_events_url":"https://api.github.com/users/gh4144/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/gh4144/reppkcwbh","description":"simple
        repo allow_del_by_api=true ","fork":false,"url":"https://api.github.com/repos/gh4144/reppkcwbh","forks_url":"https://api.github.com/repos/gh4144/reppkcwbh/forks","keys_url":"https://api.github.com/repos/gh4144/reppkcwbh/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gh4144/reppkcwbh/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gh4144/reppkcwbh/teams","hooks_url":"https://api.github.com/repos/gh4144/reppkcwbh/hooks","issue_events_url":"https://api.github.com/repos/gh4144/reppkcwbh/issues/events{/number}","events_url":"https://api.github.com/repos/gh4144/reppkcwbh/events","assignees_url":"https://api.github.com/repos/gh4144/reppkcwbh/assignees{/user}","branches_url":"https://api.github.com/repos/gh4144/reppkcwbh/branches{/branch}","tags_url":"https://api.github.com/repos/gh4144/reppkcwbh/tags","blobs_url":"https://api.github.com/repos/gh4144/reppkcwbh/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gh4144/reppkcwbh/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gh4144/reppkcwbh/git/refs{/sha}","trees_url":"https://api.github.com/repos/gh4144/reppkcwbh/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gh4144/reppkcwbh/statuses/{sha}","languages_url":"https://api.github.com/repos/gh4144/reppkcwbh/languages","stargazers_url":"https://api.github.com/repos/gh4144/reppkcwbh/stargazers","contributors_url":"https://api.github.com/repos/gh4144/reppkcwbh/contributors","subscribers_url":"https://api.github.com/repos/gh4144/reppkcwbh/subscribers","subscription_url":"https://api.github.com/repos/gh4144/reppkcwbh/subscription","commits_url":"https://api.github.com/repos/gh4144/reppkcwbh/commits{/sha}","git_commits_url":"https://api.github.com/repos/gh4144/reppkcwbh/git/commits{/sha}","comments_url":"https://api.github.com/repos/gh4144/reppkcwbh/comments{/number}","issue_comment_url":"https://api.github.com/repos/gh4144/reppkcwbh/issues/comments{/number}","contents_url":"https://api.github.com/repos/gh4144/reppkcwbh/contents/{+path}","compare_url":"https://api.github.com/repos/gh4144/reppkcwbh/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gh4144/reppkcwbh/merges","archive_url":"https://api.github.com/repos/gh4144/reppkcwbh/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gh4144/reppkcwbh/downloads","issues_url":"https://api.github.com/repos/gh4144/reppkcwbh/issues{/number}","pulls_url":"https://api.github.com/repos/gh4144/reppkcwbh/pulls{/number}","milestones_url":"https://api.github.com/repos/gh4144/reppkcwbh/milestones{/number}","notifications_url":"https://api.github.com/repos/gh4144/reppkcwbh/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gh4144/reppkcwbh/labels{/name}","releases_url":"https://api.github.com/repos/gh4144/reppkcwbh/releases{/id}","deployments_url":"https://api.github.com/repos/gh4144/reppkcwbh/deployments","created_at":"2025-11-12T17:33:45Z","updated_at":"2025-11-12T17:33:46Z","pushed_at":"2025-11-12T17:33:46Z","git_url":"git://github.com/gh4144/reppkcwbh.git","ssh_url":"git@github.com:gh4144/reppkcwbh.git","clone_url":"https://github.com/gh4144/reppkcwbh.git","svn_url":"https://github.com/gh4144/reppkcwbh","homepage":"https://github.com/gh4144/reppkcwbh","size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","network_count":0,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"f02dda6296de8db8e3af0e2fbc5e89777a49adf5f94cba8620b620f712c6aec6"'
      Location:
      - https://api.github.com/repos/gh4144/reppkcwbh
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4986'
      X-RateLimit-Reset:
      - '1762970423'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '14'
      x-accepted-github-permissions:
      - administration=write
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Authorization:
      - token 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
      X-GitHub-Api-Version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/repos/gh4144/reppkcwbh/commits
  response:
    body:
      string: '{"message":"Git Repository is empty.","documentation_url":"https://docs.github.com/rest/commits/commits#list-commits","status":"409"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4984'
      X-RateLimit-Reset:
      - '1762970423'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '16'
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: null
    headers:
      Authorization:
      - token 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
    method: GET
    uri: https://api.github.com/repos/gh4144/reppkcwbh
  response:
    body:
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/repos#get-a-repository","status":"404"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4982'
      X-RateLimit-Reset:
      - '1762970423'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '18'
      x-accepted-github-permissions:
      - metadata=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 404
      message: Not Found
version: 1
